In [6]:
# В ячейке ниже представлен код генерирующий DataFrame, который состоит всего из 1 столбца.
# Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [7]:
import random as rnd
import pandas as pd
from analogs import analog_get_dummies as agd

In [8]:
lst = ['robot'] * 10
lst += ['human'] * 10
# lst += ['robohuman'] * 10
rnd.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
print(data.head(30))

   whoAmI
0   robot
1   human
2   robot
3   human
4   robot
5   human
6   robot
7   robot
8   human
9   robot
10  human
11  human
12  robot
13  human
14  robot
15  robot
16  human
17  robot
18  human
19  human

In [9]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       0      1
1       1      0
2       0      1
3       1      0
4       0      1
5       1      0
6       0      1
7       0      1
8       1      0
9       0      1
10      1      0
11      1      0
12      0      1
13      1      0
14      0      1
15      0      1
16      1      0
17      0      1
18      1      0
19      1      0

In [10]:
agd(data['whoAmI'])

    robot  human
0       1      0
1       0      1
2       1      0
3       0      1
4       1      0
5       0      1
6       1      0
7       1      0
8       0      1
9       1      0
10      0      1
11      0      1
12      1      0
13      0      1
14      1      0
15      1      0
16      0      1
17      1      0
18      0      1
19      0      1